body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

h1 {
    color: black;
}

#wordle2-board {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    font-size: 24px;
}