.grid-container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: auto 1fr 1fr auto; 
  grid-template-areas: 
    "header header header header"
    "nav main main main"
    "section1 section1 section2 section3"
    "footer footer footer footer";
  gap: 1em;
  height: 95vh; 
}

header {
  grid-area: header;
  background-color: green;
  padding: 1em;
  color: white;
  text-align: center;
}

nav {
  grid-area: nav;
  background-color: lightgrey;
  padding: 1em;
}

main {
  grid-area: main;
  background-color: #f5f5f5;
  padding: 1em;
}

section1 {
  grid-area: section1;
  background-color: grey;
  padding: 1em;
}

section2 {
  grid-area: section2;
  background-color: grey;
  padding: 1em;
}

section3 {
  grid-area: section3;
  background-color: grey;
  padding: 1em;
}

footer {
  grid-area: footer;
  background-color: black;
  padding: 1em;
  color: white;
  text-align: center;
}